{#
  <li>
      <a href="{{ month|date("Y") }}/{{ month|date("m") }}">
        {{ entries | length }} entries in {{ month|date("F Y") }}
      </a>
  </li>
#}
{% set feiertage = entry.feiertage %}
{% set feiertagMonate = players|group('postDate|date("Y-m")') %}

{% for feiertage, playersInPosition in feiertagMonate %}
    <h2>{{ position }}</h2>
    <ul>
    {% for player in playersInPosition %}
        {% set playerData = craft.entries.section('myPlayersChannel').relatedTo(player).first() %}
        <li>
            {{ playerData.fullName }}
            {{ playerData.age }}
            ...
        </li>
    {% endfor %}
    </ul>
{% endfor %}